<div class="container">
  <div class="row">
    <div class="col-xs-3">
　　　<%= render 'books/form', book: @book %>
　　　<%= render 'form',{book:@book, user:current_user} %>
　　</div>
　　<div class="col-xs-9">
      <table class="table">
        <h1>Books</h1>
        <tread>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>


        <tbody>
         <% @books.each do |book| %>
          <%= link_to book_path(book.id) do %>
          <% end %>
          <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%#= link_to 'Show', book %></td>
          <td><%#= link_to 'Edit', edit_book_path(book) %></td>
          <td><%#= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?'} %></tb>
          </tr>
         <% end %>
        </tbody>
      </table>
      <br>
    </div>

