<div class="container">
  <div class="row">
    <div class="col-xs-3">
         <%= render'users/userinfo', user: current_user %>
         <%= render 'books/form', book: @book_new %>
    </div>
    <div class="col-xs-9">
      <table class="table">
       <h1>Book detail</h1>
        <thead>
          <tr>
           <th></th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tr>
          <td>
              <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format:'jpeg', class: "pull-left profile-img", fallback:"no_image.jpg" %>
            </td>

           <th><%= link_to @book.title %></th>
           <th><%= @book.body %></th>



            <% if @book.user == current_user %>
        <td>
          <button type="button" class="btn btn-info"><%= link_to "Edit",edit_book_path, class: "edit_book_#{@book.id}" %></button>
        </td>
        <td>
         <button type="button" class="btn btn-danger"><%= link_to 'Destroy', @book_path, method: :delete, data: { confirm: 'Are you sure?'} %></button>
        </td>
        <% end %>
        </tr>
    </div>
  </div>
