<table class="table">
    <h1>Book detail</h1>

    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
          <tr>
        <th>

         <%= render 'books/form', book: @book_new %>


        </th>
        <th><%= @book.title %></th>
        <th><%= @book.body %></th>



            <% if @book.user == current_user %>
        <td>
           <button type="button" class="btn btn-info"><%= link_to "edit",edit_book_path, class: "edit_book_#{@book.id}" %></button>
        </td>
        <td>
         <button type="button" class="btn btn-danger"><%= link_to "Destroy",book_path,method: :delete, class: "destroy_book_#{@book.id}" %></button>
        </td>
        <% end %>

      </tr>

  </table>
